<script>
  import { onMount } from "svelte";
  import axios from 'axios';
  let categories = [];
    
  let categoryId = ''; 
    let categoryProducts = [];
  
  onMount(async () => {
  try {
  const response = await axios.get(
    "https://www.themealdb.com/api/json/v1/1/categories.php"
  );
  
  categories = response.data.categories; 
  } catch (error) {
  console.error("Error fetching data:", error);
  }
  });
  
  async function fetchCategoryProducts(categoryId) {
        try {
          const response = await axios.get(`https://www.themealdb.com/api/json/v1/1/filter.php?c=${categoryId}`);
          
          if(response.data.meals) {
            categoryProducts = response.data.meals;
          }else categoryProducts=[]
        } catch (error) {
          console.error("Error fetching data:", error);
        }
      }
  
      onMount(fetchCategoryProducts);
  
      function selectCategory(event) {
        categoryId = event.target.value;

        fetchCategoryProducts(categoryId);
      }

      $:console.log("category",categoryProducts)
  </script>
  
  <main>
    <div>
      <h6>Select a category:</h6>
      <select on:change={selectCategory}>
       <option value="Beef">Beef</option>
       <option value="Fish">Fish</option>
      </select>
    
      <h3>Category-Based Products:</h3>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 pl-4 pr-4">
        {#each categoryProducts as product}
        <div class="bg-green-900 text-white rounded-lg shadow-md overflow-hidden">
          <img src={product.strMealThumb} alt={product.strMeal} class="w-full h-48 object-cover" />
          <div class="p-4">
            <h2 class="text-xl font-semibold mb-2">{product.strMeal}</h2>
            <p class="text-white">{product.strMeal}</p>
            
            <p class="pt-4 pr-50">Time<span class="text-white ml-4">15min</span></p>
         
          </div>
        </div>
        {/each}
    </div>
    </div>
    </main>
  