<script>

  import Categories from './Categories.svelte';
  import Meals from './Meals.svelte';


</script>

<main class="  rounded-3xl">
  <!-- statusbar part -->
  <div class=" statusbar grid grid-cols-2  sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2   pb-8 ">
    <div class="statusbar-left">
      <div class="text-3xl pt-4 pr-98 pl-4 ">19:27</div>
    </div>
    <div class="statusbar-right flex pl-98 ">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-96 mt-8 mr-2 "
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.348 14.651a3.75 3.75 0 010-5.303m5.304 0a3.75 3.75 0 010 5.303m-7.425 2.122a6.75 6.75 0 010-9.546m9.546 0a6.75 6.75 0 010 9.546M5.106 18.894c-3.808-3.808-3.808-9.98 0-13.789m13.788 0c3.808 3.808 3.808 9.981 0 13.79M12 12h.008v.007H12V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
        />
      </svg>
     
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="w-96 h-6 mt-8 mr-2"
      >
        <path
          style="stroke-width: 1.5; stroke-linecap: round; stroke-linejoin: round; stroke: currentColor;"
          d="M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-96 h-6 mt-8 mr-8 "
      >
        <path
          style="stroke-width: 1.5; stroke-linecap: round; stroke-linejoin: round;"
          d="M21 10.5h.375c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125H21M4.5 10.5H18V15H4.5v-4.5zM3.75 18h15A2.25 2.25 0 0021 15.75v-6a2.25 2.25 0 00-2.25-2.25h-15A2.25 2.25 0 001.5 9.75v6A2.25 2.25 0 003.75 18z"
        />
      </svg>
    </div>
  </div>

  <!-- main header part -->
  <div class="main-header flex">
    <div class="main-header-left pb-10">
      <p class="text-green-900 font-bold text-6xl mr-80">Hello Fola</p>
      <p class="opacity-50 pb-3 text-5xl pl-6">What are you cooking today?</p>
    </div>
    <div class="main-header-left-items pl-96">
      <img
        class=" pt-2 w-20 ml-24"
        src="./src/assets/image/Avatar.png"
        alt="avatar"
      />
    </div>
  </div>
  <div class="main-header-right flex">
    <div class=" pl-5">
      <input
        placeholder="Search your receipe"
        class="text-3xl h-16 w-[67rem]  pl-4 rounded-md border-4"
        type="text"
      />
    </div>
    <div class="main-header-right-items">
      <img
        class="h-16 w-20 ml-9"
        src="./src/assets/image/Filter.png"
        alt="filter"
      />
    </div>
  </div>

  <!-- navbar part -->
  <div class="header-navbar flex  text-5xl pt-10 pb-5">
    <div class="header-navbar-items pl-6 text-green-900">All</div>
    <div class="header-navbar-items pl-10 text-green-900">Indian</div>
    <div class="header-navbar-items pl-10 text-green-900">Italian</div>
    <div class="header-navbar-items pl-10 text-green-900">Asian</div>
    <div class="header-navbar-items pl-10 text-green-900">Chinese</div>
    <div class="header-navbar-items pl-10 text-green-900">Thakali</div>
    <div class="header-navbar-items pl-10 text-green-900">Pakistani</div>
  </div>

<Meals />
<Categories/>


</main>


