<main>
  
        <div class="w-72 rounded-lg">
            <h4 class="pt-10 pr-20"><span class="pr-14">Hello,</span><br /> Welcome back</h4>
            <br />
            <label for="email" class="pr-36">Email</label><br />
            <input
              type="email"
              id="email"
              placeholder="Enter your email"
              class="h-7 w-48 rounded-lg pl-4 border-2"
            /><br /><br />
            <label for="password" class="pr-20">Enter Password</label><br />
            <input
              type="password"
              id="password"
              placeholder="Enter your password"
              class="h-7 w-48 rounded-lg pl-4 border-2"
            /><br /><br />
            <p>Forgot Password?</p>
            <br />
            <button class="button bg-green-900 text-white h-10 w-48 mb-4 border-2" type="submit"
              >Sign in</button
            ><br />
            <p class="text-sm">Doesn't have an account?<span class="underline">signup</span></p><br>
          </div>

  
</main>
