<script>
    import { onMount } from 'svelte';
    import axios from 'axios';

         
    let meals = [];
  
    onMount(async () => {
      try {
        const response = await axios.get('https://www.themealdb.com/api/json/v1/1/filter.php?c=SeaFood');
        meals = response.data.meals;
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    });
  </script>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 pl-4 pr-4">
    {#each meals as meal (meal.idMeal)}
      <div class="bg-green-900 text-white rounded-lg shadow-md overflow-hidden">
        <img src={meal.strMealThumb} alt={meal.strMeal} class="w-full h-48 object-cover" />
        <div class="p-4">
          <h2 class="text-xl font-semibold mb-2">{meal.strMeal}</h2>
          <p class="text-white">{meal.strMeal}</p>
          
          <p class="pt-4 pr-50">Time<span class="text-white ml-4">15min</span></p>
       
        </div>
      </div>
    {/each}
  </div>
  