<main>
    <div class=" w-72" >
    <h4 class="font-bold pr-16 pt-4 text-green-900">Create Account</h4>
    <p class="pl-12 pr-11 text-xs ">Let's help u to set up your account <br><span class="pr-24">it won't take long</span></p><br>
    <label for="name" class="pr-36">Name</label><br>
    <input type="text" id="name" placeholder="Enter your name" class="h-7 w-48 rounded-lg pl-4 border-2"/><br>
    <label for="email" class="pr-36">Email</label><br>
    <input type="email" id="email" placeholder="Enter your email" class="h-7 w-48 rounded-lg pl-4 border-2"/><br>
    <label for="password" class="pr-32">Password</label><br>
    <input type="password" id="password" placeholder="Enter your password" class="h-7 w-48 rounded-lg pl-4 border-2"/><br>
    <label for="confirmpassword" class="pr-14">Confirm Password</label><br>
    <input type="confirmpassword" id="confirmpassword" placeholder="Enter your password" class="h-7 w-48 rounded-lg pl-4  border-2"/><br><br>
    <input type="checkbox"><label>Accept term & condition</label><br><br>
    <button type="submit" class="button bg-green-900 text-white h-10 w-48 mb-4">Sign Up</button><br> 
    <p>Already  a member? <span class="underline"> Sign in</span></p><br>
</div>
</main>