
<main>
    <!-- header part -->
    <div class="main-body text-white font-poppins bg-main-body  h-full w-1/2 md:w-full bg-no-repeat">
      <div class="main-body-top">
        <div class="main-body-top-item">
          <img src="./src/assets/image/status Bar.png" alt="statusbar" />
        </div>
        <div class="main-body-top-item2">
          <img
            class=" mt-12 h-15 w-31 ml-39"
            src="./src/assets/image/image 11.png"
            alt="image11"
          />
        </div>
        <div class=" main-body-top-item text-2xl mt-2 font-extrabold">
          100k+ Premium Recipe
        </div>
      </div>
  
      <!-- Button part -->
      <div class="main-body-button font-bold">
        <p
          class="main-body-button-item text-6xl font-extrabold leading-none top-26 left-22 mt-72"
        >
          Get <br /> Cooking
        </p>
        <div class="main-body-button-item mt-6 mb-10">
          Simple way to find Tasty Recipe
        </div>
        <button class="main-body-button-item bg-green-900 h-10 w-60  mb-10"
          >Start Cooking</button
        >
      </div>
    </div>
  </main>


  

