<script>

  import Home from "./assets/Component/Home.svelte";
  import Login from "./assets/Component/Login.svelte";
  import Signup from "./assets/Component/Signup.svelte";
  import Splashscreen from "./assets/Component/Splashscreen.svelte";

  import Tailwindcss from "./lib/Tailwindcss.svelte";

</script>

<main>
  <Tailwindcss />
  <Splashscreen/>
  <!-- <Home/> -->
  <!-- <Login/> -->
  <!-- <Signup/> -->
</main>

